@import '~bootstrap/scss/bootstrap';



header {
  display: flex;
  justify-content: center;
}

nav {
  margin-left: 200px;
}

button {
  display: flex;
  justify-content: center;
      background: #1b78d0;
      text-transform: uppercase;
      padding: .8em 1em;
      border: none;
      cursor: pointer;
      text-align: center;
      transition: all 150ms;
      white-space: nowrap;
      font-weight: 600;
      outline-color: #1b78d0;
      width: 100%;
      color: white;
}

.cell {
  width: 200px;
  height: 200px;
  font-size: 150px;
  text-align: center;
}

.board {
  display: flex;
  justify-content: center;
}

.square1 {
  border-right: solid black 1px;
  border-bottom: solid black 1px;
}

.square2 {
  border-bottom: solid black 1px;
}

.square3 {
  border-right: solid black 1px;
}

.success {
  color: var(--green);
}

.failure {
  color: var(--red);
}

.information {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 25px;
}
.move-me {
  margin-left: 100px;
}
