@import '~bootstrap/scss/bootstrap';

body {
  background-color: #0D0D0D;
  color: #F2F2F2;
}
div {
color: #F2F2F2;
}

header {
  display: flex;
  justify-content: center;
}

nav {
  margin-left: 200px;
}

button {
      display: flex;
      justify-content: center;
      background: #1b78d0;
      text-transform: uppercase;
      padding: .8em 1em;
      border: none;
      cursor: pointer;
      text-align: center;
      transition: all 150ms;
      white-space: nowrap;
      font-weight: 600;
      outline-color: #1b78d0;
      width: 100%;
      color: white;
      margin-top: 15px;
}
form {
  display: flex;
  flex-direction: column;
}

.signInSection {
  display: flex;
  justify-content: center;
  align-items: center;
    flex-direction: column;
}

.signUpSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.changePasswordSection {
  display: flex;
  justify-content: center;
  align-items: center;
    flex-direction: column;
}
.signOutSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.centerSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 15px;
}

.cell {
  width: 150px;
  height: 150px;
  font-size: 100px;
  text-align: center;
  background-color: #0D0D0D;
  color: #3F598C;
}

.board {
  display: flex;
  justify-content: center;
}

.square1 {
  border-right: solid #F2F2F2 1px;
  border-bottom: solid #F2F2F2 1px;
}

.square2 {
  border-bottom: solid #F2F2F2 1px;
}

.square3 {
  border-right: solid #F2F2F2 1px;
}

.success {
  color: var(--green);
}

.failure {
  color: var(--red);
}

.information {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 25px;
}

.move-me {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 60px;
}

.buttons {
  width: 193.84px;
}
